<template>
<div class="container-fluid conone" id="box">
    <div class="container-fluid picoftwotop">
    <div class="container-fluid picoftwo">
        <span id="surround">
            <span id="initial"><img src="@/assets/profilepic.jpg" class="profilepic center" alt=""></span>
        </span>
        <!-- <hr id="hrstyle"> -->
    </div>
    </div>
    <hr class="hrbelowpic">
    <div>
        <p class="myname">Joel A Scharlach</p>
    </div>
    <div class="container-fluid coninfo">  
        <div class="row">
            <div class="col-sm-6"> 
                <div class="row">
                    <div class="col-sm-5"> 
                        <p class="skills">CONTACT INFO</p>
                        <div>
                            <i class="fa fa-home fa-3x"><span class="actualinfo">Tervuren, Belgium</span></i>
                        </div>
                        <div>
                            <i class="fa fa-phone fa-3x"><span class="actualinfo">+32 479 172881</span></i>
                        </div>
                        <div>
                            <i class="fa fa-envelope fa-3x"><span class="actualinfo">jscharlach@xlixelit.com</span></i>
                        </div>
                        <div>
                            <i class="fa fa-briefcase fa-3x"><span class="actualinfo">www.xlixelit.com</span></i>
                        </div>
                    </div>     
                    <div class="col-sm-7">
                        <p class="skills">SUMMARY</p>
                        <p class="actualinfo1">I am currently taking a look at the opportunities that are out there. I want to make sure that the employer will feel that I am a good fit for their team. But just as important that I feel like I would be a good fit. I have discovered development and absolutely have fallen in love with what it can do.  I have always been very sportive and competitive.  I get that same rush of adrenaline when I get my code to work, or if I have been having a code issue and it gets resolved.  There is no better feeling in the world.  </p>
                    </div>         
                </div>    
            </div>
            <div class="col-sm-6">        
                <div class="container-fluid conskill">
                    <div class="d-flex justify-content-center">
                        <p class="skills">SKILLS AND PAST EXPERIENCES</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                        <p class="dev">SOFTWARE DEVELOPMENT</p>
                        <div class="row">
                            <div class="col-12">
                            <div class="actualinfo1">
                                <p class="inarow">VUE</p>
                                <p class="inarow">Nuxt</p>
                                <p class="inarow">Javascript</p>
                                <p class="inarow">Typescript</p>
                                <p class="inarow">HTML</p>
                            </div>
                            <div class="actualinfo1">
                                <p class="inarow">CSS</p>
                                <p class="inarow">SCSS</p>
                                <p class="inarow">Node.js</p>
                                <p class="inarow">SEO</p>
                                <p class="inarow">Mongodb</p>
                            </div>  
                            </div>
                            <div class="col-12">
                            <div class="actualinfo1">
                                <p class="inarow">Firebase Firestore</p>
                                <p class="inarow">Firebase Storage</p>
                                <p class="inarow">Express</p>
                                
                            </div>
                            </div>  
                            <div class="col-12">  
                            <div class="actualinfo1">
                                <p class="inarow">Docker</p>
                                <p class="inarow">jquery</p>
                                <p class="inarow">PWA</p>
                                <p class="inarow">Cordova</p>
                                <p class="inarow">OOP</p>
                                <p class="inarow">NoSQL</p>
                            </div>
                            </div> 
                            <!-- <div class="col-12">  
                            <div class="actualinfo1"> 
                                <p class="inarow">OOP</p>
                                <p class="inarow">NoSQL</p>
                                
                            </div>   
                        </div>  -->
                        </div>
                        </div>
                        <div class="col-sm-5">
                        <p class="dev">WORK/EDUCATION EXPERIENCE</p>
                        <div class="actualinfo1">
                            <p class="inarow">20 + years successful sales and consulting</p>
                        </div>
                        <div class="actualinfo1">
                            <p class="inarow">Business Admin Marketing</p>
                            <p class="inarow">Management</p><br>
                            <p class="inarow">Ice hockey ref</p>
                        </div> 
                        </div>
                    <div>
                    </div> 
                </div>
            </div>    
        </div> 
    </div> 
    <div class="container-fluid conjobs">
        <div class="d-flex justify-content-center">
            <p class="skills1">CURRENT PROJECT</p>
        </div>
    </div>
    <div class="container-fluid conjobs">
        <div class="d-flex justify-content-center">
            <p class="skills1">WORK EXAMPLES</p>
        </div>
        <div class="row">
            <div class="col-sm-3 conimage">
                <div>
                    <img src="@/assets/logoxlix3.png" class="imglogo1" alt="">
                </div>    
                <div>
                    <p class="actualinfo3">www.xlixelit.com</p>
                </div>    
            </div>
            <div class="col-sm-3 conimage">
                <img src="@/assets/cllogo.png" class="imglogo" alt="">
                <div>
                    <p class="actualinfo3">www.coachslog.com</p>
                </div>
            </div>
            <div class="col-sm-3 conimage">
                <img src="@/assets/gmtrans.png" class="imglogo" alt="">
                <div>
                    <p class="actualinfo3">alike-cf00d.web.app</p>
                </div>    
            </div>
            <div class="col-sm-3 conimage">
                <img src="@/assets/cupidlovebig.png" class="imglogo" alt="">
                <div>
                    <p class="actualinfo3">cupidsarrow-c2e69.web.app</p>
                </div>    
            </div>
        </div>    
    </div>
  </div>
</div>  
</template>

<script>

export default {
    name: 'contact2',
  data () {
    return {
     
    }
  }

}
</script>

<style scoped>  

#box {
  margin-bottom: 20px;
  padding: 0;
  }
.profilepic{
    margin-top: 180px;
    border-radius: 50%;
    border: 10px solid black;
    width: 200px;
    height: 200px;
}
.imglogo{
     width: 150px;
    height: 150px;
}
.imglogo1{
    margin-top: 30px;
    margin-bottom: 15px;
     width: 150px;
    height: 100px;
}
.picoftwo{
    margin-top: 10px;
    margin-bottom: 30px;
    background-image:  url(~@/assets/logoxlix3.png);
    padding: 0;
    width: 500px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.hrbelowpic{
    border: 5px solid black;
    background-color: black;
}
.coninfo{
    margin-top: 10px;
}
.conjobs{
    margin-top: 20px;
}
.conimage{
    margin-top: 5px;
}

.actualinfo{
    margin-left: 5px;
}
.actualinfo, .actualinfo1, .actualinfo3{
    font-size: 20px;
}
.myname{
    margin-top: 130px;
    font-size: 70px;
    text-align: center;
}
#onhover {
  display: none;
}
.dev{
  font-size: 20px;
  color: black;
  margin-top: 10px;
}
.skills, .skills1{
  color: black;
  font-size: 40px; 
}
.skills1{
    margin-bottom: 30px;
}
.btn{
  padding-right: 30px;
}
.inarow{
 display: inline;
 padding-right: 30px;
 text-decoration-color: #a0acad;
}
.icondiv {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#bttoncon{
   font-family: 'Special Elite';
   font-size: 30px;
}
.transition-animation {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
ul {
  list-style: none;
}
ul > li {
  display: inline;
  margin-right: 20px;
}
.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #f1f1f1;
  line-height: 73px;
  text-align: center;
  background-color: black;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.3);
}
 .icon {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f1f1f1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
 .icon:hover {
  background-color: #f1f1f1;
  color: black;
}
.icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1.4);
  opacity: 1;
}
</style>