<template>
<div class="container-fluid" id="box">
    <div class="picoftwo">
        <span id="surround">
            <span id="initial"><img src="@/assets/profilepic.jpg" class="profilepic center" alt=""></span>
            <!-- <span id="onhover"><img src="@/assets/jandd.jpg" class="profilepic center" alt=""></span> -->
        </span>
        <!-- <hr id="hrstyle"> -->
    </div>
    <div class="container">
      <div class="container icondiv">
        <ul class="icon-effect icon-effect-la jus">
          <li>
            <a href="https://www.facebook.com/joel.scharlach/" class="icon"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/J_scharlach" class="icon"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/joelscharlach" class="icon"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="mailto: jscharlach@hotmail.com" class="icon"><i class="far fa-envelope"></i></a>
          </li>
          <li>
            <a href="tel:0032479172881" class="icon"><i class="fas fa-mobile-alt"></i></a>
          </li>
        </ul>
      </div>
      <div>
        <div class="container-fluid conskill">
          <p id="skills">SKILLS</p>
          <div class="row">
            <div class="col-sm-7">
              <p class="dev">SOFTWARE DEVELOPMENT</p>
              <div class="row">
                <div class="col-12">
                  <div id="allskills">
                    <p class="inarow">VUE</p>
                    <p class="inarow">Javascript</p>
                    <p class="inarow">Typescript</p>
                    <p class="inarow">HTML</p>
                    <p class="inarow">CSS</p>
                    <p class="inarow">SCSS</p>
                    <p class="inarow">Node.js</p>
                  </div>
                </div>  
                <div class="col-12">
                  <div id="allskills">
                    <p class="inarow">Firebase Firestore</p>
                    <p class="inarow">Firebase Storage</p>
                    <p class="inarow">Mongodb</p>
                    <p class="inarow">Mongodb Atlas</p>
                  </div>
                </div>  
                <div class="col-12">  
                  <div id="allskills">
                    <p class="inarow">Express</p>
                    <p class="inarow">jquery</p>
                    <p class="inarow">PWA</p>
                    <p class="inarow">Cordova</p>
                    <p class="inarow">SEO principles</p>
                    <p class="inarow">Docker</p>
                  </div>
                </div> 
                <div class="col-12">  
                  <div id="allskills"> 
                    <p class="inarow">OOP</p>
                    <p class="inarow">NoSQL</p>
                  </div>   
               </div> 
              </div>
            </div>
            <div class="col-sm-5">
              <p class="dev">WORK/EDUCATION EXPERIENCE</p>
              <div id="allskills">
                <p class="inarow">20 + years successful sales and consulting</p>
              </div>
              <div id="allskills">
                <p class="inarow">Business Admin Marketing</p>
                <p class="inarow">Management</p><br>
                <p class="inarow">Ice hockey ref</p>
               </div> 
            </div>
          <div>
        </div> 
      </div>
      </div> 
    </div> 
  </div>
</div>  
</template>

<script>

export default {
    name: 'contact',
  data () {
    return {
     
    }
  }

}
</script>

<style scoped>  

#box {
  font-family: 'Special Elite';
  margin-bottom: 20px;
  }
.profilepic{
    border-radius: 50%;
    border: 10px solid black;
    width: 260px;
    height: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.picoftwo{
  padding-top: 10px;
}
#onhover {
  display: none;
}
.dev{
  font-size: 20px;
  color: black;
  margin-top: 10px;
}
#skills{
  color: black;
  font-size: 40px;
  margin-top: 10px;
  text-decoration: underline;
}
.btn{
  padding-right: 30px;
}
.conskill{
  margin-top: 50px;
  margin-bottom: 40px;
}
.inarow{
 display: inline;
 padding-right: 30px;
 text-decoration: underline;
 text-decoration-color: #a0acad;
}
.icondiv {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#bttoncon{
   font-family: 'Special Elite';
   font-size: 30px;
}
.transition-animation {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
ul {
  list-style: none;
}
ul > li {
  display: inline;
  margin-right: 20px;
}
.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #f1f1f1;
  line-height: 73px;
  text-align: center;
  background-color: black;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.3);
}
 .icon {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f1f1f1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
 .icon:hover {
  background-color: #f1f1f1;
  color: black;
}
.icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1.4);
  opacity: 1;
}
</style>
