<template>
  <div class="container-fluid" id="b">
    <div class="container kidscon">
        <p id="kids">KIDS...THEY MAKE YOUR WORLD SPIN</p>
    </div>
    <div class="cube">
        <div class="box1 box">
            <img src="@/assets/dandj1.jpg" alt="j">
        </div>
        <div class="box2 box">
            <img src="@/assets/dandj2.jpg" alt="j">
        </div>
        <div class="box3 box">
            <img src="@/assets/dandj3.jpg" alt="j">
        </div>
        <div class="box4 box">
            <img src="@/assets/dandj4.jpg" alt="j">
        </div>
        <div class="box5 box">
            <img src="@/assets/dandj5.jpg" alt="j">
        </div>
        <div class="box6 box">
            <img src="@/assets/dandj6.jpg" alt="j">
        </div>
    </div>
 </div>   
</template>

<script>

export default {
    name: 'cube',
  data () {
    return {
      interval: null,
      updateInterval: 5
    }
  }, methods:{
      timechange(){

      }
  }

}
</script>

<style scoped>  

#b{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.cube{
    margin-top: 15%;
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotate linear infinite;
    animation-duration: 20s;
    /* animation-direction: reverse; */
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 3px black;
}
.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.9; */
}
.box1 {
    transform: translateZ(150px);
}
.box2 {
    transform: rotateY(90deg) translateX(150px);
    transform-origin: right;
}
.box3 {
    transform: rotateY(180deg) translateZ(150px);
}
.box4 {
    transform: rotateY(-90deg) translateX(-150px);
    transform-origin: left;
}
.box5 {
    transform: rotateX(-90deg) translateY(-150px);
    transform-origin: top;
}
.box6 {
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(150px);
}

@keyframes rotate{
    0%, 100% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotateY(90deg) rotateZ(90deg);
    }
    40% {
        transform: rotateY(180deg) rotateZ(-90deg);
    }
    60% {
        transform: rotateY(270deg) rotateZ(90deg);
    }
    80% {
        transform: rotateY(360deg) rotateZ(-90deg);
    }
}
.slide{
    margin-top: 500px;
    width: 100%;
    position: absolute;
    align-items: flex-end;
    font-size: 20px;
}
#cubes{
    font-size: 40px;
    align-items: center;
    font-style: bold;
}
.kidscon{
  width: 100%;
  /* z-index: 1; */
}
#kids{
  width: 100%;
    font-size: 60px;
    /* position: absolute; */
    margin-top: 2vh;
    /* transform: translate(-50%,-50%); */
    text-transform: uppercase;
    font-weight: lighter;
    background-image: linear-gradient(90deg, #4c6f73,  #111, #4c6f73);
    background-repeat: no-repeat;
    background-size: 80%, 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 8s linear infinite;
}
@keyframes shine{
  0%{
    background-position: -500% 0;
  }
  100%{
    background-position: 500% 0;
  }
} 
/* 
input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 7px 7px 7px #000000;
  background: #BAB8D8;
  border-radius: 18px;
  border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #BAB8D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 7px 7px 7px #000000;
  background: #BAB8D8;
  border-radius: 18px;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #BAB8D8;
  border: 1px solid #010101;
  border-radius: 36px;
  box-shadow: 7px 7px 7px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #BAB8D8;
  border: 1px solid #010101;
  border-radius: 36px;
  box-shadow: 7px 7px 7px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #BAB8D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #BAB8D8;
} */

</style>