<template>
<!-- <div class="container-fluid" id="box"> -->
<div class="container-fluid" id="hat">
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center">
            <p id="favcit">EXTENSIVE INTEL ON THE FOLLOWING CITIES:</p>
        </div>
        <div class="col-md-9 d-flex justify-content-center">
            <Card class="card">
                <Scrollbar class="scrollbar">
                    <List class="list">
                        <Item class="itemlist"
                        v-for="item in items"
                        :key="item.name"
                        >
                            <ImageWrapper
                            :isActive="item.isActive">
                            <ItemImage
                            :src="`${ item.pic }`"/>
                            </ImageWrapper>
                            <ItemTitle class="title">{{ item.name }}</ItemTitle>
                            <ItemFooter class="footer">
                                <div>
                                <span>{{ item.blend1 }}</span>
                                </div>
                                <div>
                                <span>{{ item.blend2 }}</span>
                                </div>
                                <div>
                                <span>{{ item.blend3 }}</span>
                                </div>
                                <div>
                                <span>{{ item.blend4 }}</span>
                                </div>
                            </ItemFooter>
                        </Item>
                    </List>    
                </Scrollbar>    
            </Card> 
        </div> 
    <!-- </div> -->
    <p id="ts">TOP SECRET</p>  
</div>
<!-- <div class="container d-flex justify-content-between" id="buttoncon">
    <a class="btn btn-outline-dark" href="/contact" role="button">PROFILE</a>
    <a class="btn btn-outline-dark" href="/sound2" role="button">DIALECTS</a>
     <a class="btn btn-outline-dark" href="/greatminds" role="button">LOCATION APP</a>
    <a class="btn btn-outline-dark" href="/mcode" role="button">MORSE CODE</a>
    <a class="btn btn-outline-dark" href="/joke" role="button">LIGHTER SIDE</a>
</div>           -->

</div>    
</template>

<script>
import styled from 'vue-styled-components';
import { rgba } from 'polished';
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

const Card = styled.div`
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    background: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
`;
 
 const Scrollbar = styled(VuePerfectScrollbar)`
    flex: 1 1 auto;
    min-height: 0;
`;

const List = styled.div`
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem
`;

const Item = styled.div`
    margin-right: 1.5rem
`;

const ItemTitle = styled.div`
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0.325rem
    color: ${rgba("#10132F", 0.75)};
`;

const styleProps = { isActive: Boolean };

const ImageWrapper = styled("div", styleProps)`
    width: 580px;
    height: 300px;
    padding: 3px;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    background: ${props =>
    props.isActive ? "linear-gradient(#bda0f1 0%, #89d0c3 100%)" : "white"};
    margin-right: 50px;
    margin-left: 50px;
`;

const ItemImage = styled.img`
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid white;
`;

const ItemFooter = styled.div`
    display: flex;
    align-items: center;
    justify-content: center;
    color: ${rgba("#10132F", 0.38)};
    
    & > span { font-size: 15px; }
    & > i { font-size: 20px; margin: 0 5px; }
    & > i.fa-heart { color: red; }
`;



export default {
  components: { Card, List, Item, ItemTitle, ImageWrapper, Scrollbar, ItemImage, ItemFooter },
  data () {
    return {
        items: [
            { name: "Barcelona", blend1: "1. Dress according to the season (but above all, do not wear a fanny pack)", blend2: "2. Understand Catalan values ​​(and please say Barcelona, ​​not “Barça”)", blend3: "3. Don't eat on the Rambla (and dine late)", blend4: "4. Learn a few words of the local language (or even better Catalan)", pic: "https://cdn-image.departures.com/sites/default/files/1559596629/sagrada-familia-barcelona-BARCELONA0619.jpg" },
            { name: "Toronto",  blend1: "1. Complain winter is too cold, Summer too hot", blend2: "2. Dollar coin called a Loonie", blend3: "3. See themselves as the center off Canada", blend4: "4. Pronounce it: 'No doot aboot it.' (No doubt about it)", pic: "https://www.seetorontonow.com/wp-content/uploads/2017/12/cn-tower-dusk.jpg" },
            { name: "Paris", blend1: "1. Ditch the folding map, use your phone.", blend2: "2. 'Black' in the new black in fashion here.", blend3: "3. You do not need to wear a beret. ", blend4: "4. The best way to get around the city is via the Metro.", pic: "https://media.istockphoto.com/photos/aerial-panoramic-cityscape-view-of-paris-france-picture-id877496736?k=6&m=877496736&s=612x612&w=0&h=txZ6g8WLLkr-WY8vo7pY4mKkupFtVYPFsRU0o5hiJGY=" },
            { name: "London",  blend1: "1. REMEMBER drive on the left.", blend2: "2. Never just stand on the left side of the escalator.", blend3: "3. Be sure you learn proper Queue rules.", blend4: "4. Use the word 'innit' as often as possible.", pic: "https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9" },
            { name: "Moscow",  blend1: "1. Pay for everything in cash, not credit cards.", blend2: "2. Opposite to England, don’t stand in queue. Push and shove like everyone else.", blend3: "3. Don’t get overexcited: be cool like “I see this thing every day” attitude.", blend4: "4. Don’t eat at McDonald’s. Eat at Stolovaya. It’s cheaper there and the food is guaranteed to be alot better.", pic: "https://turkishairlines.ssl.cdn.sdlmedia.com/637128082973851781ZP.jpg" }
        ]
    
    }
  }
}
</script>

<style> 

#hat{
   /* padding-bottom: 30px; */
   font-family: 'Special Elite';
   margin-top: 1vh;
   width: 100%;
}
.spanheart {
    margin-right: 10px;
}
#favcit {
    margin-top: 30px;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
}
#ts{
    font-family:  'Anton';
    font-size: 150px;
    color: hsla(0, 90%, 49%, 0.4);
    position: absolute;
    top: 30%;
    left: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: rotate(-38deg);
  /* Safari */
  -webkit-transform: rotate(-38deg);
  /* Firefox */
  -moz-transform: rotate(-38deg);
  /* IE */
  -ms-transform: rotate(-38deg);
  /* Opera */
  -o-transform: rotate(-38deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
</style>