<template>
<div class="container bg"> 
    <div class="pic1">
    </div>
    <div class="pic2">
    </div>
</div>
</template>

<script>

export default {
  name: 'football',
  data () {
    return {
     
    }
  },
  methods: {
  }
}
</script>

<style scoped>
.bg{
    /* The image used */
  /* background-image: url('~@/assets/field.png'); */

  /* Full height */
  height: 700px; 
  width: 1200px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic1{
  position: absolute;
  margin-top: 50vh;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 4px black;
}
.pic2{
  position: absolute;
  margin-top: 25px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 4px red;
}
</style>
 