<template>
<div class="container-fluid" id="box">
    <div class="container topcon">
        <div class="row">
            <div class="col-sm-7 d-flex justify-content-center">
                <img src="@/assets/G.png" alt="GPIC">
            </div>
            <div class="col-sm-5 context">
                <div> 
                    <p id="gm">GREAT MINDS</p>
                </div>
                <div>  
                    <p id="ta">Think Alike</p>
                </div> 
                <div>  
                    <p id="beta">This is my first app that I have designed.  While it is fully functional it is still only in it's beta stage of testing.</p>
                    <p>I have used a number of different frameworks in this deployment.</p>
                    <a class="btn btn-dark" href="https://alike-cf00d.firebaseapp.com" role="button">GREAT MINDS</a>
                </div>    
            </div>   
        </div>
    </div>
</div>  
</template>

<script>

export default {
    name: 'greatminds',
  data () {
    return {
     
    }
  }

}
</script>

<style scoped>  

.topcon{
    padding-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 40px;
    font-family: 'Special Elite';
}
#gm{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 600;
}
#ta{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
}
#beta{
    font-weight: 600;
    font-size: 20px;
}
img{
    width: 500px;
    height: 500px;
}
.context{
    text-align: center;
}

</style>