<template>
<div class="container-fluid" id="box">
  <div class="container" id="box2">
      <div class="jumbotron" id="jumbo">
        <div>
          <img src="@/assets/dadjokes.jpg" class="mx-auto d-block img-fluid" alt="" id="djokepic">
        </div>
        <div>
        <button  @click="djokes" type="button" class="mx-auto d-block img-fluid btn btn-lg btn-block btn-dark" id="laugh">Need a laugh?</button>
          <p id="pp">{{ this.joke  }}</p>
        </div>
      </div>
  </div>
  <!-- <div class="container d-flex justify-content-between" id="buttoncon">
    <a class="btn btn-outline-dark" href="/contact" role="button">PROFILE</a>
    <a class="btn btn-outline-dark" href="/favcities" role="button">CITY INTEL</a>
     <a class="btn btn-outline-dark" href="/greatminds" role="button">LOCATION APP</a>
    <a class="btn btn-outline-dark" href="/sound2" role="button">DIALECTS</a>
    <a class="btn btn-outline-dark" href="/mcode" role="button">MORSE CODE</a>
  </div>   -->
</div> 
</template>

<script>
// import axios from 'axios'
import dadJokes from '@mikemcbride/dad-jokes'

export default {
  name: 'joke',
  data () {
    return {
      joke: ""
    }
  },
  methods: {
    djokes(){
    
    this.joke = dadJokes.random() 
    } 
  }
}
</script>

<style scoped>  
#jumbo{
  padding-top: 30px;
  border: 10px solid black;
  background-color: lightgrey; 
  
} 
#djokepic{
  width: 900px;
  height: 300px;
  margin-bottom: 40px;
  z-index: 2;
  
}
#laugh{
  margin-bottom: 30px;
  z-index: 2;
}
#pp{
  font-size: 25px;
  font-family: 'Special Elite';
  z-index: 2;
}
/* #box {
  width: 100%;
  height: 500px;
  background:
  radial-gradient(circle at 50% -300%,#4c6f73 90%,transparent 85%),
  radial-gradient(circle at 60% -300%,#a0acad 90%,transparent 90.5%);
}  */
#box2{
  padding-top: 60px;
  font-family: 'Special Elite';
}
</style>
