<template>
<div class="container-fluid" id="conland">
  <div>
    <div class="row">
      <div class="col-sm-12">
        <div class="profile12">
          <h1>PROFILE:</h1>
        </div>
        <div id="name">
          <p>JOEL A SCHARLACH</p>
        </div>
        <p id="ts">CLASSIFIED</p> 
        <div class="profile12">
          <!-- <h1>YOUR EYES ONLY</h1> -->
        </div>
        <div class="row btnpro">
          <div class="col d-flex justify-content-center">
            <div class="share-button">
              <span>TOP SECRET</span>
              <a href="/contact3" >ENTER</a>
            </div>
            <!-- <p id="ts">CLASSIFIED</p>  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
   
</template>

<script>



export default {
  name: 'landing',
}
</script>

<style scoped>

#conland {
  padding-top: 50px;
  font-family: 'Special Elite';
  background-image:  url(~@/assets/twopics.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  position: relative;
  width: auto;
  height: 100vh;
}
.profile12{
  text-align: center;
  color: white;
  margin-top: 50px;
  background: none;
  margin-bottom: 0;
}
#name{
  font-family: 'Special Elite';
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 10px;
  font-size: 100px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid white; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  
}
.btnpro{
  margin-top: 230px;
}

.till{
  background: black;
}
.share-button {
  width: 480px;
  height: 80px;
  background: black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: .3s linear;
}
.share-button:hover{
  transform: scale(1.1);
}
.share-button span{
  font-size: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  text-align: center;
  line-height: 80px;
  z-index: 2;
  transition: .6s linear;
  border-radius: 40px;
 
}
.share-button:hover span{
  transform: translateX(-100%);
  transition-delay: .3s;
}
.share-button a {
  flex: 1;
  font-size: 50px;
  margin-right: 20px;
  color: white;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: .3s linear;
}
.share-button:hover a {
  opacity: 1;
  transform: translateX(0);
}
.share-button a:nth-of-type(1){
  transition-delay: 1s;
}
.share-button a:nth-of-type(2){
  transition-delay: .8s;
}
.share-button a:nth-of-type(3){
  transition-delay: .6s;
}
.share-button a:nth-of-type(4){
  transition-delay: .4s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
#ts{
    font-family:  'Anton';
    font-size: 150px;
    letter-spacing: 0.2em;
    color: hsla(0, 90%, 49%, 0.6);
    position: absolute;
    top: 20%;
    left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: rotate(-38deg);
  /* Safari */
  -webkit-transform: rotate(-30deg);
  /* Firefox */
  -moz-transform: rotate(-30deg);
  /* IE */
  -ms-transform: rotate(-30deg);
  /* Opera */
  -o-transform: rotate(-30deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
</style>
