<template>
<div>
    <div class="container" id="b">
      <p id="titlem">MORSE CODE GENERATOR</p>
        <form @submit.prevent="getcode(name)">
            <div class="form-group">
                <input id="name" class="form-control" type="text" placeholder="Enter Messsage Here" v-model="name">
            </div>
            <div  id="upbtn">
                <button class="btn btn-lg btn-dark">TRANSLATE</button>
            </div>
        </form> 
        <div>
            <p id="mc">Morse Code</p>
            <p class="pp">I used . to seperate the letters and | to seperate words.</p>
            <p class="pp">{{ this.mmcode }}</p>
        </div> 
    </div>
    <!-- <div class="container d-flex justify-content-between" id="buttoncon">
      <a class="btn btn-outline-dark" href="/favcities" role="button">CITY INTEL</a>
      <a class="btn btn-outline-dark" href="/sound2" role="button">DIALECTS</a>
      <a class="btn btn-outline-dark" href="/greatminds" role="button">LOCATION APP</a>
      <a class="btn btn-outline-dark" href="/contact" role="button">PROFILE</a>
      <a class="btn btn-outline-dark" href="/joke" role="button">LIGHTER SIDE</a>
  </div>  -->
</div> 
</template>

<script>
// import axios from 'axios'
import morseCode from 'morse-code-js'

export default {
  name: 'mcode',
  data () {
    return {
      mmcode: '',
      name: ''
    }
  }, 
  methods: {
      getcode(){
          this.mmcode = morseCode.morseSentence(this.name)
      }
  }
}
  

</script>

<style>
/* #box {
  padding-top: 30px;
  width: 100%;
  height:500px;
  background:
  radial-gradient(circle at 50% -300%,#4c6f73 90%,transparent 85%),
  radial-gradient(circle at 60% -300%,#a0acad 90%,transparent 90.5%);
  font-family: 'Special Elite';
}  */
#b{
  padding-bottom: 90px;
   font-family: 'Special Elite';
}
#titlem {
  font-size: 70px;
  margin-bottom: 60px;
  padding-top: 50px;
  text-align: center;
  font-weight: 600;
}
#mc{
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
}
#upbtn{
  margin-top: 30px;
}
.pp {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

</style>