<template>
<div>
    <div class="container-fluid" id="snowbody">
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div> 
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div> 
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>  
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="snow"></div>
        <div class="row" id="mrplow">
          <div class="col-3 d-flex justify-content-center">
              <p>Mr Plow<br>That's my name</p>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <img src="@/assets/snowplow.jpg" alt="snowplow" id="snowplow">
          </div> 
           <div class="col-3 d-flex justify-content-center">
              <p>Say it again, it's<br>Mr Plow</p>
          </div>
        </div>
        <div class="row twopics">
          <div class="col-6 d-flex justify-content-center">
               <img src="@/assets/snowblower.jpg" alt="snowow">
          </div>
          <div class="col-6 d-flex justify-content-center">
               <img src="@/assets/shovel.jpg" alt="snow">
          </div>
        </div>
        <div>
          <p id="contact">Just call me at 555-2745 to get a quick quote.<br>Over 1,000 happy driveways served.</p>
        </div>                   
    </div> 
  </div>    
</template>

<script>

export default {
    name: 'snow',
  data () {
    return {
     
    }
  }

}
</script>

<style scoped lang="scss"> 
#mrplow {
  color: white;
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}
.twopics img {
  width: 200px;
  height: 200px;
}
#snowplow{
  position: relative;
  width: 350px;
  height: 250px;
}
#snowbody {
    height: 100vh;
    // background: radial-gradient(ellipse at bottom, #1b2735 0% #090a0f 100%);
    background: black;
    overflow: hidden;
    filter: drop-shadow(0,0,10,white);
    z-index: -1;
}

@function random_range($min, $max){
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
// random(1000000)*0.0001vw;
  @for $i from 1 through $total {
    $random-x: random(1000000)*0.0001vw;
    $random-offset: random_range(-100000, 100000)* 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}){
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }
    @keyframes fall-#{$i} {
     #{percentage($random-yoyo-time)} {
      transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
    }
    to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
    }
    
    }
  }
}
#contact{
  color: white;
  text-align: center;
}
</style>