<template>
<div class="container-fluid" id="box">
  <div class="container-fluid" id="soundtop">      
    <p id="h1top">Hello, my name is......</p>
    <p>Dialects that can be spoken.</p>
    <p>Sound on</p>
    <div class="maindiv">
        <div>
            <div class="main-circle">
                <div @click="playsound(require('@/assets/arabic.mp3'))" class="audio">
                    <div class="small-circle"></div>
                </div>
            </div>
            <p>Arabic</p>
        </div>
        <div>
            <div class="main-circle">
                <div @click="playsound(require('@/assets/chinese.mp3'))" class="audio">
                    <div class="small-circle"></div>
                </div>
            </div>
        <p>Chinese</p>
        </div>
        <div>
            <div class="main-circle">
                <div @click="playsound(require('@/assets/french.mp3'))" class="audio">
                    <div class="small-circle"></div>
                </div>
            </div>
            <p>French</p>
        </div>
        <div>  
            <div class="main-circle">
                <div @click="playsound(require('@/assets/korean.mp3'))" class="audio">
                    <div class="small-circle"></div>
                </div>
            </div>
            <p>Korean</p>
        </div>
        <div>   
            <div class="main-circle">
                <div @click="playsound(require('@/assets/russian.mp3'))" class="audio">
                    <div class="small-circle"></div>
                </div>
            </div>
        <p>Russian</p>
        </div>
        <div>   
            <div class="main-circle">
                <div @click="playsound(require('@/assets/spanish.mp3'))" class="audio">
                    <div class="small-circle"></div>
                </div>
            </div>
        <p>Spanish</p>
        </div>
    </div> 
 <!-- <div class="container d-flex justify-content-between" id="buttoncon">
    <a class="btn btn-outline-dark" href="/contact" role="button">PROFILE</a>
    <a class="btn btn-outline-dark" href="/favcities" role="button">CITY INTEL</a>
     <a class="btn btn-outline-dark" href="/greatminds" role="button">LOCATION APP</a>
    <a class="btn btn-outline-dark" href="/mcode" role="button">MORSE CODE</a>
    <a class="btn btn-outline-dark" href="/joke" role="button">LIGHTER SIDE</a>   
</div>       -->
</div> 
</div> 
</template>

<script>
export default {
  name: 'sound',
  data () {
    return {
     
    }
  },
    methods: {
                playsound(sound) {
                    if(sound) {
                        var audio = new Audio(sound);
                        audio.play();
                    }
            }
            
        }
} 
</script>

<style scoped>  
/* #box {
  font-family: 'Special Elite';
  width: 100%;
  height:500px;
  background:
 radial-gradient(circle at 50% -300%,#4c6f73 90%,transparent 85%),
  radial-gradient(circle at 60% -300%,#a0acad 90%,transparent 90.5%);
}  */
#soundtop{
    padding-top: 40px;
    /* padding-bottom: 300px; */
     font-family: 'Special Elite';
}
p{
    text-align: center;
    /* padding-top: 30px; */
    font-size: 30px;
    font-weight: 700;
}
#h1top {
    text-align: center;
    font-size: 90px;
}

.maindiv {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.main-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 0 22px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    background: white; 
}

.main-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        #fb0094, #00f,#ff0, #f00,#fb0094, #00f,#0f0,#ff0,#f00);
        z-index: -1;
        border-radius: 80px;
        background-size: 500%;
        opacity: 0;
        transition: 0.5s;
        animation: animate 20s linear infinite;
}

.main-circle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        #fb0094, #00f,#0f0, #ff0,#f00, #fb0094, #00f,#0f0,#ff0,#f00);
        z-index: -1;
        border-radius: 80px;
        background-size: 500%;
        opacity: 0;
        filter: blur(20px);
        transition: 0.5s;
        animation: animate 20s linear infinite;
}

.main-circle:hover::before,
.main-circle:hover::after {
    opacity: 5;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 500% 0;
    }
    0% {
        background-position: 0 0;
    } 
}

.audio {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 80px;
    background: #0c0c0c;
    z-index: 1;
}

.small-circle {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #a0acad;
    transition: 0.3s;
    z-index: 1;
}

.main-circle:hover .small-circle {
    background-color: white;
}

.main-circle:active .small-circle{
    background-color: rgba(255, 255, 255, 1);
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.audio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
}
</style>