<template>
    <div class="conatiner-fluid navtop">
            <div class="nav d-flex justify-content-center">
                <!-- <div>
                    <div @click="playsound(require('@/assets/vo.mp3'))" class="audio">
                        <img src="@/assets/XLIX22.png" alt="XLIX" id="xlix">  
                     </div>
                </div> -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container-fluid menu">
                            <input type="checkbox" href="#" class="menu-open" name="menu=open" id="menu-open" />
                            <label class="menu-open-button" for="menu-open">
                                <span class="lines line-1"></span>
                                <span class="lines line-2"></span>
                                <span class="lines line-3"></span>
                            </label>
                            <a href="/sound2" class="menu-item dialect12">Dialects</a>
                            <a href="/mcode" class="menu-item code">Code</a>
                            <a href="/joke" class="menu-item lighter">Lighter</a>
                            <a href="/cube" class="menu-item cube">Cube</a>
                            <a href="/contact2" class="menu-item profile">Profile</a>
                            <a href="/favcities" class="menu-item location">Locations</a>
                            <a href="/greatminds" class="menu-item next">Great Minds</a> 
                            <a href="https://countdownprobst.web.app/" class="menu-item next">COUNTDOWN</a> 
                            <a href="https://voetbal-36def.web.app//" class="menu-item next">COACH'S LOG</a> 
                        </div>
                    </div>   
                </div> 
            </div>       
    </div>    
</template>

<script>

export default {
    name: 'navbar',
  data () {
    return {
   
    }
  },
    methods: {
                playsound(sound) {
                    if(sound) {
                        var audio = new Audio(sound);
                        audio.play();
                    }
            }
            
        }

}
</script>

<style scoped>  
a{
    color: black;
}
.navtop{
    z-index: 2;
}
.nav{
    height: 63px;
    width: 100%;
    /* background: grey; */
    /* z-index: 3; */
}
#xlix{
    margin-top: 5px;
    padding: 0;
    height: 66px;
    margin-left: 100px;
    cursor: pointer;
    z-index: 1;
    display: block;
}
#xlix:hover{
    margin-top: 30px;
    transform: scale(3);
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 1;
}  
.menu {
    padding-top: 5px;
    /* margin-left: 480px;
    margin-right: auto; */
    margin-top: 6px;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Special Elite';
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
    z-index: 3;
 
} 
.menu-item {
    background: #a0acad ;
    border-radius: 10px;
    width: 50px;
    height: 49px;
    border: solid 2px white;
    margin-left: -25px;
    position: absolute;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    /* transform: translate3d(0,0,0); */
    transition: transform ease-out 1200ms;
    z-index: 2;
    font-size: 8px;
    border: none;
}
 .menu-open-button {
    background: #a0acad ;
    border-radius: 10px;
    width: 70px;
    height: 67px;
    margin-left: -30px;
    position: absolute;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-top: 3px;
    /* box-shadow: 30px 30px 20px 0 rgba(0, 0, 0, 1); */
    /* transform: translate3d(0,0,0); */
    transition: transform ease-out 200ms;
    z-index: 3;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    justify-content: center;
    align-items: center; 
} 
.menu-open {
    display: none;
}
.lines {
    width: 25px;
    height: 3px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}
.line-1 {
    transform: translate3d(0, -8px, 0);
}
.line-2 {
    transform: translate3d(0, 0, 0);
}
.line-3 {
    transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu.open.button .line-1 {
    transform: translate3d(0, 10px, 0);
    transform: rotate(45deg);
}
.menu-open:checked + .menu.open.button .line-2 {
    transform: translate3d(0, 0, 0);
    transform: scale(0.1,1);
}
.menu-open:checked + .menu.open.button .line-3 {
    transform: translate3d(0, 0, 0);
    transform: rotate(-45deg);
}
.menu-item:hover {
    background: white;
    color: red;
}
.menu-item:nth-child(3){
    transition-duration: 880ms;
}
.menu-item:nth-child(4){
    transition-duration: 880ms;
}
.menu-item:nth-child(5){
    transition-duration: 880ms;
}
.menu-item:nth-child(6){
    transition-duration: 880ms;
}
.menu-item:nth-child(7){
    transition-duration: 880ms;
}
.menu-item:nth-child(8){
    transition-duration: 880ms;
}
.menu-item:nth-child(9){
    transition-duration: 880ms;
}
.menu-item:nth-child(10){
    transition-duration: 880ms;
}
.menu-item:nth-child(11){
    transition-duration: 880ms;
}
.menu.open-button {
    /* z-index: 2; */
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.14);
}
.menu-open-button:hover {
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}
.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 900ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.935, 0.034, 1.33);
}
 /* di*/
.menu-open:checked ~ .menu-item:nth-child(3){
    transition-duration: 480ms;
    transform: translate3d(0px, 120px, 0);
    width: 130px;
    height: 50px;
    font-size: 20px;
    border: solid 2px white;
    
}
/* code */
.menu-open:checked ~ .menu-item:nth-child(4){
    transition-duration: 880ms;
    transform: translate3d(170px, 120px, 0);
     width: 130px;
    height: 50px;
    font-size: 20px;
    border: solid 2px white;
}
/* lighter */
.menu-open:checked ~ .menu-item:nth-child(5){
    transition-duration: 1680ms;
    transform: translate3d(510px, 120px, 0);
     width: 130px;
    height: 50px;
    font-size: 20px;
     border: solid 2px white;
}
/*cube*/
.menu-open:checked ~ .menu-item:nth-child(6){
    transition-duration: 1280ms;
    transform: translate3d(340px, 120px, 0);
     width: 130px;
    height: 50px;
    font-size: 20px;
    border: solid 2px white;
}  
/* profile*/
.menu-open:checked ~ .menu-item:nth-child(7){
    transition-duration: 1680ms;
    transform: translate3d(-510px, 120px, 0);
     width: 130px;
    height: 50px;
    font-size: 20px;
     border: solid 2px white;
    /* transform: translate3d(90.9466px, 52.47586px, 0); */
}
/* loca */
.menu-open:checked ~ .menu-item:nth-child(8){
    transition-duration: 1280ms;
    transform: translate3d(-340px, 120px, 0);
     width: 130px;
    height: 50px;
    font-size: 20px;
     border: solid 2px white;
    /* transform: translate3d(90.9466px, -52.47586px, 0); */
}
/* gm */
.menu-open:checked ~ .menu-item:nth-child(9){
    transition-duration: 880ms;
    transform: translate3d(-170px, 120px, 0);
     width: 130px;
    height: 50px;
    font-size: 20px;
    border: solid 2px white;
} 
.menu-open:checked ~ .menu-item:nth-child(10){
    transition-duration: 480ms;
    transform: translate3d(0px, 220px, 0);
    width: 130px;
    height: 50px;
    font-size: 20px;
    border: solid 2px white;
    
}
.menu-open:checked ~ .menu-item:nth-child(11){
    transition-duration: 480ms;
    transform: translate3d(0px, 330px, 0);
    width: 130px;
    height: 50px;
    font-size: 20px;
    border: solid 2px white;
    
}
.profile, .code, .location, .dialect12, .cube, .lighter, .next {
    background-color: black;
     box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.12);
     text-align: center;
    line-height: 50px;
    
}
.profile:hover, .code:hover, .location:hover, .dialect12:hover, .cube:hover, .lighter:hover, .next:hover {
    color: black;
    text-shadow: none;
}

/* .credit a {
    padding: 8px 0;
    color: olive;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.credit a:hover {
    text-decoration: underline;
} */


</style>