<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

// import Sidebar from './components/Menu/Sidebar.vue';

export default {
 name: 'App',
}
</script>

<style>
body {
  width: 100%;
  height: 100vh;
  background:
  radial-gradient(circle at 50% -300%,#d4dcdd 90%,transparent 85%),
  radial-gradient(circle at 60% -300%,#babebe 90%,transparent 90.5%);
  font-family: 'Special Elite';
}
</style>
#4c6f73 
#a0acad